
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
.service_area .link_start:after,.service_area .link_jrnaver .ico_jrnaver,.service_area .link_happybean .ico_happybean,.green_window button .button_icon,.green_window .keyboard .keyborad-ico,.green_window .autocomplete .autocomplete-ico,.green_window .keyboard .keyborad-ico:hover,.gnb .group_nav .list_nav .list_items .mail_icon,.gnb .group_nav .list_nav .shopping,.gnb .group_nav .list_nav .shopping_live,.gnb .group_nav .list_nav .TV:before,.gnb .group_nav .btn_more:after,.gnb .weather_area .normal:before,.gnb .weather_area .good:before,.sc_news_area .sc_news_newspaper::after,.news_area .news_title .link_newsstand:before,.news_area .news_title .link_newsstand:after,.news_area .news_title .icon_list,.news_area .news_title .icon_collect,.news_area .news_title .icon_setting,.news_area .tile_view:before,.themepost_area .group_title .title_left a:before,.themepost_area .category_wrap .ico_btn_prev,.themepost_area .category_wrap .ico_btn_next,.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .author_ad:after,.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .title:after,.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .more_group_btn,.column_right .login .login_button .ico_naver,.column_right .login .sub_area .find_area .find_id:before,.column_right .login .sub_area .join_area .join:before,.column_right .time_square .ts_btn_wrap .ts_btn_prev:before,.column_right .time_square .ts_btn_wrap .ts_btn_next:before,.btn_darkmode,.btn_top,.btn_darkmode:hover,.btn_top:hover{
  background-image: url(../assets/images/sp_main.png);
  background-size: 442px;
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .category_ad:after{
  background-image: url(../assets/images/button.png);
  background-size:80px;
}
.right_box .shop_header > a:before,.right_box .shop_header > a:after,.btn_prev:before,.btn_next:before,.oneplus_deal_area .oneplus_title_area .title:before,.oneplus_item_area .item_list .item .thumb_area .bedge,.oneplus_item_area .item_list .item .thumb_area .thumb:before,.footer_inner .notice_area .service:after{
  background-image: url(../assets/images/sp_shop.png);
  background-size: 129px;
}
body{
  margin:0;
}
li{
  list-style: none;
}
ul{
  padding:0;
}
a{
  text-decoration: none;
  color:black;
}
fieldset{
  border:none;
  margin:0;
  padding:0;
}
.blind{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
}
.group_header{
  width:1130px;
  height:160px;
  margin:auto;
  position:relative;
}
.service_area{
  float:right;
  font-size: 12px;
  transform: translateY(-5px); 
}
.service_area .link_start:after{
  content:'';
  display: inline-block;
  width:25px;
  height:25px;
  background-position: -383px 218px;
  transform:translateY(5px);
  margin:0 0 0 5px;
}
.service_area .bar{
  width:1px;
  height:10px;
  background-color: #e4e8eb;
  display: inline-block;
  margin:0 3px;
}
.service_area .link_jrnaver .ico_jrnaver{
  width:60px;
  height:20px;
  display: inline-block;
  background-position: -326px -290px;
  transform: translateY(5px);
  filter: grayscale(1);
  margin: 0 3px;
  opacity: 0.5;
}

.service_area .link_happybean .ico_happybean{
  display: inline-block;
  width:42px;
  height:17px;
  transform: translateY(5px);
  margin: 0 3px;
  filter: grayscale(1);
  background-position: -378px -196px;
  opacity: 0.5;
}
.service_area .link_jrnaver .ico_jrnaver:hover,.service_area .link_happybean .ico_happybean:hover{
  opacity: 1;
  filter: grayscale(0);
}

.group_header .logo{
  position:absolute;
  left:-66px;
  background-image: url(../assets/gif/logo.gif);
  background-size: 415px;
  width:415px;
  height:160px;
}
.search_area{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.search_area .green_window{
  width:582px;
  height:52px;
  border:2px solid #00e8ee;
  position:relative;
}

.green_window input[type = search]{
  width:444px;
  height:50px;
  border:none;
  outline: none;
  padding: 13px 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.green_window button{
  float:right;
  height:52px;
  width:56px;
  background-color: #00e8ee;
  border:none;
  cursor: pointer;
}


.green_window button .button_icon{
  display: inline-block;
  width:22px;
  height: 22px;
  background-position: -420px -23px;

}
.green_window .keyboard{
  position:absolute;
  width:35px;
  height:52px;
  top:0;
  left:calc(100% - 118px);
}
.green_window .keyboard .keyborad-ico{
  position:absolute;
  width:22px;
  height:15px;
  top:50%;
  transform: translateY(-60%);
  background-position: -397px -266px;
}
.green_window .keyboard .keyborad-ico:hover{
  background-position: -375px -266px;
}

.green_window .autocomplete{
  position: absolute;
  top:0;
  left:calc(100% - 88px);
  width:22px;
  height:52px;
  cursor: pointer;
}
.green_window .autocomplete .autocomplete-ico{
  display: inline-block;
  width:12px;
  height:10px;
  background-position: -156px -150px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.gnb{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-top: 1px solid #e4e8eb;
}
.gnb .group_nav{
  width:1130px;
  margin: auto;
  position:relative;
}
.gnb ul li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 700;
}
.gnb .group_nav .list_nav a{
  color: rgb(3, 199, 90);
}
.gnb .group_nav .list_nav, .gnb .group_nav .list_nav_right,.gnb .btn_more {
  display: inline-block;
  margin: 15px 6px 15px 0;
  padding:0;
}
.gnb .group_nav .list_nav .list_items .mail_icon{
  display: inline-block;
  width: 23px;
  height:20px;
  background-position: -419px -72px;
  margin-right:5px;
  transform:translateY(3px);
}
.gnb .group_nav .list_nav .shopping{
  display: inline-block;
  width: 25px;
  height:17px;
  background-position: -75px -388px;
  transform:translateY(3px);
}
.gnb .group_nav .list_nav .shopping_live{
  display: inline-block;
  width: 56px;
  height:17px;
  background-position: -207px -269px;
  transform:translateY(3px);
}
.gnb .group_nav .list_nav .TV:before{
  content:'';
  display: inline-block;
  width: 16px;
  height:17px;
  background-position: -254px -210px;
  transform:translateY(3px);
}
.gnb .group_nav .btn_more{
  font-size: 13px;
}
.gnb .group_nav .btn_more:after{
  content:'';
  display: inline-block;
  width: 16px;
  height:17px;
  background-position: -401px -294px;
  transform:translateY(7px);
  margin-left:5px;
}
.gnb .weather_area{
  position:absolute;
  top: 30%;
  right:0;
}
.gnb .weather_area i{
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  color:rgba(80, 80, 80);
  margin-right: 8px;

}
.gnb .weather_area i:nth-of-type(1){
  display: inline-block;
  transform:translateX(3px);
}
.gnb .weather_area strong{
  font-size: 13px;
  font-weight: 700;
  color: rgb(32, 32, 32);
  margin-right: 5px;

}
.gnb .weather_area .bar{
  display: inline-block;
  width:1px;
  height:10px;
  background-color:rgb(181, 181, 181);
  margin:0 5px;
}
.gnb .weather_area .normal:before{
  content:'';
  display: inline-block;
  width: 20px;
  height:20px;
  background-position: -419px -246px;
  transform:translate(-5px,5px);
}
.gnb .weather_area .good:before{
  content:'';
  display: inline-block;
  width: 20px;
  height:20px;
  background-position: -419px -265px;
  transform:translate(-5px,5px);
}
.container{
  width:1130px;
  margin:auto;
  padding:20px 30px;
  position:relative;
  overflow: hidden;
}
.column_left{
  width:750px;
  float:left;
}

.column_left .ad_area .image_area img{
  width:750px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.news_area .sc_news_area{
  width:718px;
  height:24px;
  background-color:rgb(247, 249, 250);
  padding:12px 15px 11px 15px;
  border:1px solid rgb(218, 225, 230);
  position:relative;
}
.sc_news_area .sc_news_newspaper{
  position:absolute;
  font-size: 13px;
  font-weight: 700;
  color: black;
}
.sc_news_area .sc_news_newspaper::after{
  content: '';
  display: inline-block;
  width:7px;
  height:10px;
  background-position:-436px -193px;
  margin-left:6px;
  transform:translateY(-1px)
}
.sc_news_area .sc_news_area_items_wrap{
  position:absolute;
  width: 370px;
  height: 18px;
  top:10px;
  left: 90px;
  overflow: hidden;
  
}
.sc_news_area .sc_news_items{
  position:absolute;
  top:-3px;
  font-size: 13px;
  color: rgb(32, 32, 32);
  width:370px;
  height:22px;
}
.sc_news_area .sc_news_items div{
  margin: 4px 0;
}
.sc_news_area .sc_news_link{
  position:absolute;
  top:10px;
  right:25px;
  font-weight: 700;
  font-size: 13px;
} 
.sc_news_area .sc_news_link a{
  margin-left: 5px;
}
.sc_news_area .sc_news_link a:nth-child(1){
  color:rgb(53, 101, 201);
}
.sc_news_area .sc_news_link a:nth-child(1):after{
  content: '';
  width:3px;
  height:3px;
  display: inline-block;
  border-radius: 50%;
  background-color: #ababab;
  transform: translateY(-3px);
  margin-left:7px;
}
.news_area .news_title{
  width:750px;
  padding:8px 0 12px 0;
}
.news_area .news_title .link_newsstand{
  font-size: 14px;
  font-weight: 700;
}
.news_area .news_title .link_newsstand:before{
  content:'';
  display: inline-block;
  background-position: -272px -340px;
  width:28px;
  height:32px;
  transform: translateY(9px);
}
.news_area .news_title .link_newsstand:after{
  content:'';
  display: inline-block;
  background-position: -409px -212px;
  width:10px;
  height:13px;
  transform: translateY(1px);
  margin-left: 5px;
}
.news_area .news_title .btn_sort{
  font-size: 14px;
  color: rgba(80, 80, 80);
}
.news_area .news_title .btn_sort:after{
  content:'';
  margin-left: 6px;
  display: inline-block;
  width:4px;
  height:4px;
  border-radius: 50%;
  background-color: rgb(177, 177, 177);
  transform: translateY(-3px);
}
.news_area .news_title .btn_all{
  font-size: 14px;
  font-weight: 700;
}
.news_area .news_title .icon_list,.news_area .news_title .icon_collect,.news_area .news_title .icon_setting{
  width:16px;
  height:20px;
  float:right;
  margin-left:10px;
  transform: translateY(15px);
}
.news_area .news_title .icon_list{
  background-position: -243px -308px;
}
.news_area .news_title .icon_collect{
  background-position: -275px -308px;
}
.news_area .news_title .icon_setting{
  background-position: -101px -385px;
}
.news_area .tile_view{
  height: 260px;
  border : 1px solid #dae1e6;
  position:relative;
  margin-bottom: 40px;
}
.news_area .tile_view .line_to_bottom1,.news_area .tile_view .line_to_bottom2,.news_area .tile_view .line_to_bottom3,.news_area .tile_view .line_to_bottom4,.news_area .tile_view .line_to_bottom5{
  width:1px;
  height:260px;
  background-color: #dae1e6;
  position:absolute;
}
.news_area .tile_view .line_to_bottom1{
  left:124px;
}
.news_area .tile_view .line_to_bottom2{
  left:248px;
}
.news_area .tile_view .line_to_bottom3{
  left:372px;
}
.news_area .tile_view .line_to_bottom4{
  left:497px;
}
.news_area .tile_view .line_to_bottom5{
  left:622px;
}
.tile_view .frame_area .line_to_right1,.tile_view .frame_area .line_to_right2,.tile_view .frame_area .line_to_right3{
  position:absolute;
  background-color:#e4e8eb;
  width:748px;
  height:1px;
}
.tile_view .frame_area .line_to_right1{
  top:65px;
}
.tile_view .frame_area .line_to_right2{
  top:130px;
}
.tile_view .frame_area .line_to_right3{
  top:195px;
}
.tile_view .thumb_area{
  float:left;
  width:16.66%;
  height:65px;
  text-align: center;
  box-sizing: border-box;
}
.tile_view .thumb_area .thumb_box{
  position:relative;
  padding:23px 0 22px;
}
.tile_view .thumb_area .thumb_box a img{
  height:20px;
}
.tile_view .thumb_area .thumb_box .popup_wrap{
  position: absolute;
  top:1px;
  left:1px;
  background-color: #f7f9fa;
  height:64px;
  width:calc(100% - 2px);
  opacity: 0;;
} 
.tile_view .thumb_area .thumb_box .popup_wrap:hover{
  opacity: 1;
} 
.tile_view .thumb_area .thumb_box .popup_wrap a{
  display: inline-block;
  background-color: white;
  border:1px solid #dae1e6;
  font-size: 12px;
  padding:5px 7px;
  transform: translateY(18px);
}
.tile_view .thumb_area .thumb_box .popup_wrap a:nth-child(1){
  margin-right: -7px;
}
.news_area .tile_view:before{
  content:'';
  position:absolute;
  display: inline-block;
  width:40px;
  height:40px;
  background-position: -127px -340px;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  cursor: pointer;
}
.themepost_area{
  margin-bottom: 40px;
}
.themepost_area .group_title .title_right{
  width:300px;
  display: inline-block;
}
.themepost_area .group_title .title_right .title{
  font-size: 14px;
  font-weight: 700;
}
.themepost_area .group_title .title_right .subtitle{
  font-size: 12px;
  color:rgb(128, 128, 128);
}
.themepost_area .group_title .title_left{
  float:right;
}
.themepost_area .group_title .title_left .info{
  font-size: 12px;
  color: rgb(128, 128, 128);
}
.themepost_area .group_title .title_left .info span{
  font-weight: 700;
  color: black;
}
.themepost_area .group_title .title_left .bar{
  display: inline-block;
  width:1px;
  height:10px;
  background-color: #ababab;
}
.themepost_area .group_title .title_left a{
  font-size: 12px;
  color:rgba(80, 80, 80);
}
.themepost_area .group_title .title_left a:before{
  content:'';
  background-position: -332px -309px;
  width:15px;
  height:15px;
  display: inline-block;
  transform: translateY(4px);
}
.themepost_area .category_wrap{
  position:relative;
}
.themepost_area .category_wrap .list_category{
  padding:0;
  overflow: hidden;
}
.themepost_area .category_wrap .list_category .category_item{
  width:12.63%;
  height:55px;
  list-style: none;
  float:left;
  border:1px solid #dae1e6;
  text-align: center;
  padding: 13px;
  margin-right:-1px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  line-height: 25px;
}
.themepost_area .category_wrap .list_category .selected{
  background-color:#c08d31;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}
.themepost_area .category_wrap .list_category .selected a{
  color:white;
}
.themepost_area .category_wrap .ico_btn_prev{
  display: inline-block;
  background-position: -127px -341px;
  width:40px;
  height:40px;
  position:absolute;
  top:0;
  left:0;
  transform: translate(-25px,6px);

}
.themepost_area .category_wrap .ico_btn_next{
  display: inline-block;
  background-position: -86px -341px;
  width:40px;
  height:40px;
  position:absolute;
  top:0;
  right:0;
  transform: translate(20px,6px);
}
.themepost_area .category_wrap .living .list_wrap_1 ul{
  padding:10px 0;

}
.themepost_area .category_wrap .living .list_wrap_1 ul li{
  list-style: none;
  margin-top: 10px;
}
.themepost_area .category_wrap .living .list_wrap_1 ul .content_item{
  position:relative;
}
.themepost_area .category_wrap .living .list_wrap_1 ul li .item_thum{
  display: inline-block;
  width:170px;
  overflow: hidden;
}
.themepost_area .category_wrap .living .list_wrap_1 ul li a img{
  width:170px;
  transition: 0.3s;
}
.themepost_area .category_wrap .living .list_wrap_1 ul li a img:hover{
  transform: scale(1.1);
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info{
  position:absolute;
  padding:8px 20px;
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .category,.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .category_ad{
  font-size: 12px;
  font-weight: 700;
  color:rgb(192, 141, 49);
  font-style: normal;
  display: block;
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .category_ad{
  color:rgb(128, 128, 128);
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .category_ad:after{
  content:'';
  display: inline-block;
  width: 35px;
  height:15px;
  background-position: 0 -16px;
  transform: translate(5px,4px);
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .title{
  font-size: 13px;
  color:rgb(32,32,32);
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info p{
  font-size: 13px;
  color:rgb(64, 64, 64);
  padding:5px 0;
  margin:0;
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .author{
  font-size: 12px;
  color: rgb(80, 80, 80);
  float: left;
  margin-right:5px;
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .date,.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .author_ad{
  font-size: 12px;
  color: rgb(128 , 128, 128);
  float:left;
 
}
.themepost_area .category_wrap .living .list_wrap_1 .content_list .content_item .item_info .author_ad:after{
  content:'';
  display: inline-block;
  width: 8px;
  height:15px;
  background-position: -145px -326px;
  transform: translate(3px,5px);
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_1 .line,.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .line{
  width: 100%;
  height:1px;
  background-color: #e4e8eb;
  display: block;
  position:relative;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .title{
  margin: 30px 0;
  font-size: 14px;
  font-weight: 700;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .title:after{
  content:'';
  background-position: -408px -144px;
  width:14px;
  height:14px;
  transform: translateX(5px);
  display: inline-block;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding{
  margin:0;
  padding:0;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item{
  display: inline-block;
  width: 232px;
  margin-left: 15px;
  margin-bottom: 40px;
  position:relative;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .item_badge{
  position:absolute;
  top:0;
  left:0;
  font-size: 12px;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  background-color: #c08d31;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item:nth-child(1){
  margin-left:0;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .item_thumb{
  display: inline-block;
  width: 232px;
  height: 130px;
  overflow: hidden;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .item_thumb img{
  width: 232px;
  transition: 0.3s;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .item_thumb img:hover{
  scale: 1.1;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .funding_title{
  margin-top: 10px;
  display: block;
  font-size: 13px;
  color: rgb(32, 32, 32);
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .funding_group,.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .dec,.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .dec em{
  font-size: 12px;
  color: rgb(80, 80, 80);
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .dec{
  color: rgb(128, 128, 128);
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .dec em{
  color:rgb(192, 141, 49);
  font-style: normal;
  padding: 0 5px ;
}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .funding .funding_item .dec em:before{
  content:'';
  display: inline-block;
  width:1px;
  height:1px;
  border-radius: 50%;
  background-color: #414141;
  transform: translate(-5px, -3px);

}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .more_group_btn{
  content:'';
  background-position: -2px -342px;
  display: block;
  width:40px;
  height:40px;
  margin:auto;
  transform: translateY(-20px);

}
.themepost_area .category_wrap .content_wrap .living .list_wrap_2 .read_more{
  font-size: 12px;
  color:rgb(80,80,80);
  text-align: center;
  margin-top: -15px;
}
.column_right{
  width:350px;
  float:right;
  position:relative;
}

.column_right .right_box{
  width:350px;
}
.column_right .right_box.posFix 
{ 
  position: fixed;
  top:-1400px;
}
.column_right .right_box.posAbs 
{
   position: absolute; 
}
.column_right .right_box.posAddAbs
{
   position: absolute;
   top:650px;
}

.column_right .login{
  border:1px solid #dae1e6;
  background-color: #f7f9fa;
  padding: 16px 16px 12px 17px;

}
.column_right .login p{
  margin: 0;
  font-size: 12px;
  color:rgb(128 , 128, 128)
}
.column_right .login .login_button{
  display: block;
  padding:15px 0;
  margin-top: 11px;
  background-color: #19ce60;
  border:1px solid #15c654;
  border-radius: 2px;
  font-size: 13px;
  color:#fff;
  font-weight: 700;
  text-align: center;

}
.column_right .login .login_button .ico_naver{
  background-position: -313px -267px;
  display: inline-block;
  width:60px;
  height: 12px;
  margin:-1px 3px
}
.column_right .login .sub_area{
  margin : 10px 4px 0px 4px;
  overflow: hidden;
}
.column_right .login .sub_area .find_area{
  float: left;
}
.column_right .login .sub_area .find_area .find_id,.column_right .login .sub_area .find_area .find_pw,.column_right .login .sub_area .join_area .join{
  font-size: 12px;
  color:rgb(64, 64, 64);
}
.column_right .login .sub_area .find_area .find_id:before{
  content: '';
  background-position:-406px -55px;
  display: inline-block;
  width:15px;
  height:13px;
}
.column_right .login .sub_area .find_area .find_pw:before{
  content:'';
  width:2px;
  height:2px;
  display: inline-block;
  border-radius: 50%;
  transform: translateY(-3px);
  margin-right:5px;
  background-color: #868686;
}
.column_right .login .sub_area .join_area{
  float: right;
}
.column_right .login .sub_area .join_area .join:before{
  content:'';
  display: inline-block;
  width:14px;
  height:11px;
  margin-right: 3px;
  background-position: -400px -244px;
}
.column_right .time_square{
  border:1px solid #dae1e6;
  margin:11px 0;
  padding:13px;
}
.column_right .time_square i{
  font-size: 11px;
  color: rgb(32, 32, 32);
  font-style: normal;
  border: 1px solid black;
  padding: 3px 7px;
  border-radius: 10px;
}
.column_right .time_square a{
  font-size: 13px;
  color:rgb(64, 64, 64);
  line-height: 20px;
}
.column_right .time_square .ts_btn_wrap{
  float:right;
}
.column_right .time_square .ts_btn_wrap .ts_btn_prev,.column_right .time_square .ts_btn_wrap .ts_btn_next{
  border:1px solid #e4e8eb ;
  width:24px;
  height:24px;
  float: left;
}
.column_right .time_square .ts_btn_wrap .ts_btn_prev:before{
  content:'';
  display: inline-block;
  width:10px;
  height:10px;
  background-position: -162px -325px;
  transform: translateX(8px);
}
.column_right .time_square .ts_btn_wrap .ts_btn_next:before{
  content:'';
  display: inline-block;
  width:9px;
  height:10px;
  background-position: -145px -325px;
  transform: translateX(8px);
}
.right_box .sub_banner_area img{
  width:350px;
  border: 1px solid #dae1e6;
  cursor: pointer;
}
.right_box .shop_header{
  padding:12px 0 13px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 700;
  color:rgb(32, 32, 32);
  overflow: hidden;
}
.right_box .shop_header > a{
  float:left;
}
.right_box .shop_header > a:before{
  content: '';
  display: inline-block;
  background-position: -108px -20px;
  width:17px;
  height:17px;
  margin-right: 3px;
  transform:translateY(2px);
}
.right_box .shop_header > a:after{
  content: '';
  display: inline-block;
  background-position: -108px -59px;
  width:8px;
  height:10px;
  margin-left: 5px;
  transform:translateY(px);
}
.right_box .shop_header .tab_wrap{
  float:right;
}
.right_box .shop_header .tab_wrap a{
  margin-left:5px;
}
.right_box .shop_header .tab_wrap a:nth-child(1){
  border-bottom: 2px solid #19ce60;
  color: #03c75a;
}
.right_box .shop_mall{
  border:1px solid red;
  padding:12px 4px 15px 10px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}
.right_box .shop_mall a{
  font-size: 12px;
  margin:0 13px 5px 0;
}
.right_box .shop_mall a:nth-child(6n){
  margin:0;
}
.right_box .shop_mall a:nth-child(2n){
  font-weight: 700;
}
.right_box .shop_mall .no-display:before{
  display: none;
}
.right_box .shop_mall a:before{
  content:'';
  display: inline-block;
  width:3px;
  height:3px;
  border-radius: 50%;
  background-color: #a7a7a7;
  transform: translate(-7px, -3px);
}
.right_box .goods_group_area{
  padding:5px 3px;
  border:1px solid #e4e8eb;
  margin-top: -1px;
}
.right_box .goods_group_area .goods_control_top_wrap{
  overflow: hidden;
}
.right_box .goods_group_area .goods_control_top{
  float: right;
  margin-right: 15px;
}
.right_box .goods_group_area .goods_control_bottom{
  text-align: center;
}
.num_box{
  display: inline-block;
  line-height: 29px;
  transform: translateY(-5px);
}
.btn_box{
  display: inline-block;
  transform: translateY(6px);
  position: relative;
}
.num_box em{
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.num_box em span{
  font-weight: 400;
  margin-left:5px;
  color:rgb(106, 106, 106);
}
.btn_prev,.btn_next{
  display: inline-block;
  width:30px;
  height:30px;
  border:1px solid #dae1e6;
  margin-right: -7px;
  
  
}

.btn_prev:before{
  content: '';
  width:8px;
  height:15px;
  display: inline-block;
  position:absolute;
  background-position: -114px -60px;
  transform: translate(9px,10px);
}
.btn_next:before{
  content: '';
  width:8px;
  height:15px;
  display: inline-block;
  position:absolute;
  background-position: -108px -60px;
  transform: translate(12px,10px);
}
.right_box .goods_group_area .goods_wrap{
  padding: 0px 3px;
}
.right_box .goods_group_area .goods_wrap .goods{
  overflow: hidden;
  margin:0;
}
.right_box .goods_group_area .goods_wrap .goods .goods_thumb{
  margin-top: 10px;
  width:33.3%;
  float: left;
}
.right_box .goods_group_area .goods_wrap .goods .thumb_box{
  width:107px;
  height:146px;
  overflow: hidden;
  border:1px solid rgb(189, 189, 189);
  display: inline-block;
}
.right_box .goods_group_area .goods_wrap .goods .thumb_box img{
  width: 107px;
  transition: 0.3s;
}
.right_box .goods_group_area .goods_wrap .goods .thumb_box img:hover{
  scale: 1.1;
}
.right_box .goods_group_area .goods_wrap .goods .goods_thumb .title_box{
  text-align: center;
}
.right_box .goods_group_area .goods_wrap .goods .goods_thumb .title_box strong,.right_box .goods_group_area .goods_wrap .goods .goods_thumb .title_box i{
  display:block;
  font-size: 12px;
  font-style: normal;
}
.goods_control_bottom{
  padding:15px 0;
}
.goods_control_bottom .btn_prev{
  transform: translate(-10px,7px);
}
.goods_control_bottom .btn_prev:before{
  transform: translate(-5px,11px)
}
.goods_control_bottom .btn_next{
  transform: translate(5px,7px);
}
.goods_control_bottom .btn_next:before{
  transform: translate(-3px,11px)
}
.shopping_news_area{
  border-left: 1px solid #dae1e6;
  border-right:1px solid #dae1e6;
}
.shopping_news_area .title_area{
  padding: 10px 10px 0;
  overflow: hidden;
}
.shopping_news_area .title_area .shopping_news_title{
  float:left;
}
.shopping_news_area .title_area .shopping_news_title em{
  font-style: normal;
  font-size: 13px;
  font-weight: 700;
  line-height: 50px;
}
.shopping_news_area .title_area .news_control_top{
  float: right;
}
.event_list .event_title .event_area{
  display: inline-block;
  font-size: 12px;
  margin-bottom: 12px;
}
.event_list .event_title .event_area .event_item{
  font-weight: 700;
  margin:0 10px;
}
.event_list .event_title .event_area .event_desc{
  color:#202020;
}
.event_list .event_title .event_area .event_item:before{
  content:'';
  display: inline-block;
  width:3px;
  height:3px;
  background-color: #03c75a;
  margin: 0 7px 0 0;
  transform: translateY(-5px);
}
.shopping_plus{
  border:1px solid  #e4e8eb;
  padding:15px 5px;
  margin-top: -15px;
}
.shopping_plus .plus_title_area{
  overflow: hidden;

}
.shopping_plus .plus_title_area .plus_title_tab{
  float: left;
}
.shopping_plus .plus_title_area .plus_title_tab li{
  display: inline-block;
  font-size: 12px;
  color:#202020;
  margin-left: 5px;
}
.shopping_plus .plus_title_area .plus_title_tab li:nth-child(3) a{
  font-size: 13px;
  color:#03c75a;
  border-bottom:2px solid #19ce60;

}

.plus_ctrl_area{
  float:right;
}
.plus_ctrl_area .num_box,.plus_ctrl_area .btn{
  display: inline-block;
}
.plus_ctrl_area .num_box span{
  font-size: 12px;
  font-weight: 700;
}
.plus_ctrl_area .num_box span em{
  font-weight: normal;
  color: #646464;
}
.plus_ctrl_area .btn{
  transform: translateY(7px);
}

.shopping_plus .plus_item_area{
  overflow: hidden;
}
.shopping_plus .plus_item_area .thumb_box img{
  width:163px;
  border:1px solid rgb(193, 193, 193)
}
.shopping_plus .plus_item_area .thumb_box{
  display: inline-block;
  width:48%;
  text-align: center;

}
.shopping_plus .plus_item_area .thumb_box:nth-child(1){
  float:left;
}
.shopping_plus .plus_item_area .thumb_box:nth-child(2){
  float:right;
}
.shopping_plus .plus_item_area .thumb_box span{
  font-size: 12px;
  font-weight: 700;
}
.oneplus_deal_area{
  padding:5px 10px;
  border:1px solid #e4e8eb;
}
.oneplus_deal_area .oneplus_title_area{
  overflow: hidden;
}
.oneplus_deal_area .oneplus_title_area .title{
  float:left;
  line-height: 30px;
  font-size: 13px;
  font-weight: normal;
}
.oneplus_deal_area .oneplus_title_area .title:before{
  content:'';
  background-position:-1px -52px;
  display: inline-block;
  width:40px;
  height:20px;
  transform: translateY(4px);
  margin-right: 3px;
}
.oneplus_deal_area .oneplus_title_area .oneplus_ctrl_area{
  float:right;
}
.oneplus_deal_area .oneplus_title_area .oneplus_ctrl_area div{
  display: inline-block;
}
.oneplus_deal_area .oneplus_title_area .oneplus_ctrl_area .num_box span{
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  transform: translateY(-8px);
}
.oneplus_deal_area .oneplus_title_area .oneplus_ctrl_area .num_box span em{
  font-weight: normal;
}

.oneplus_item_area .item_list .item .thumb_area{
  overflow: hidden;
  display: inline-block;
}
.oneplus_item_area .item_list .item .thumb_area div{
  float:left;
}
.oneplus_item_area .item_list .item .thumb_area .thumb img{
  width:85px;
  height:60px;
  border-radius: 4px;
  border:1px solid rgb(225, 225, 225);
  margin-right:10px;
}
.oneplus_item_area .item_list .item .thumb_area .thumb:before{
  content:'';
  background-position: -40px -53px;
  width:30px;
  height:15px;
  display: inline-block;
  position:absolute;
}
.oneplus_item_area .item_list .item .thumb_area .bedge{
  background-position: -107px 0;
  width:20px;
  height:20px;
  display: inline-block;
  transform: translate(-80px,15px);
}
.oneplus_item_area .item_list .item .thumb_area .thumb_next img{
  width:60px;
  border-radius: 4px;
  border:1px solid rgb(225, 225, 225);
}
.oneplus_item_area .item_list .item .item_title{
  font-size: 12px;
  width: 45%;
  float: right;
 
}
.oneplus_item_area .item_list .item .item_title a{
  display: inline-block;
  margin-bottom: 5px;
}
.oneplus_item_area .item_list .item .item_title span{
  color:#f04045;
  margin-right: 5px;
  font-weight: 700;
}
.oneplus_item_area .item_list .item .item_title em{
  font-style: normal;
  font-weight: 700;
}
footer{
  background-color: #fafbfc;
  border-top:1px solid #e4e8eb;
}
footer .footer_inner{
  clear:both;
  width:1130px;
  margin: auto;
  padding:20px 30px;
  box-sizing: border-box;
  
}
.ad_banner_area{
  overflow: hidden;
}
.ad_banner_area .banner_item{
  width:33.33%;
  float: left;
  box-sizing: border-box;
}
.banner_item .thumb_box {
  float:left; 
  margin-right:10px;
}
.banner_item .thumb_box img{
  width:160px;
  height:86px;
}
.banner_item .content_wrap{
  font-size: 12px;
}

.banner_item .content_wrap .subtitle em{
  color:#58c464;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
  display: inline-block;
}
.banner_item .content_wrap strong{
  margin-bottom: 8px;
  display: inline-block;
}
.banner_item .content_wrap .desc i{
  font-style: normal;
  color: #414141;
}
.footer_inner .notice_area{
  border-top:1px solid #e4e8eb;
  border-bottom:1px solid #e4e8eb;
  overflow: hidden;
  font-size: 12px;
  padding: 15px 0;
  margin: 15px 0 0 0 ;
}
.footer_inner .notice_area .notice{
  float:left;
}
.footer_inner .notice_area .service{
  float:right;
}
.footer_inner .notice_area .service:after{
  content:'';
  display: inline-block;
  background-position: -109px -59px;
  width: 7px;
  height:15px;
  margin-left:5px;
  transform:translateY(5px);
}
.partner_service_wrap{
  overflow: hidden;
  border-bottom:1px solid #eaeaea;
  padding:14px 0 0 0 ;
}
.partner_wrap{
  float:left;
  font-size: 12px;
}
.partner_wrap .partner_box{
  margin-bottom:10px;
}
.partner_wrap .partner_box div{
  display: inline-block;
}
.partner_wrap .partner_box .title{
  margin-right: 25px;
  width:50px;
}
.partner_wrap .partner_box .content a:after{
  content:'';
  width:1px;
  height:10px;
  display: inline-block;
  background-color: #b5b5b5;
  margin: 0 10px ;
}

.partner_wrap .partner_box .content a:last-child:after{
  display: none;
}
.partner_wrap .partner_box .content a{
  color: #777777;
}
.partner_service_wrap .service_box .service_item{
  float:right;
  padding:25px 0;
  font-size: 12px;
  margin-right: 40px;
}
.partner_service_wrap .service_box .service_item div{
  display: inline-block;
}
.service_box .thumb_box{
  display: inline-block;
}
.service_box .thumb_box img{
  width:47px;
}
.partner_service_wrap .service_box .service_item .service_desc{
  transform: translate(-10px,-20px);
}
.partner_service_wrap .service_box .service_item .service_desc strong{
  display: block;
}
.partner_service_wrap .service_box .service_item .service_desc a{
  color: #777777;
}
.corp_area{
  padding-bottom: 50px;
}
.corp_area .corp_list .corp_item{
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.corp_area .corp_list .corp_item a{
  color:#777777;
}
.btn_darkmode{
  background-position: -270px -113px;
  display: inline-block;
  width:135px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right:80px;
}
.btn_darkmode:hover{
  background-position: -270px -56px;
  display: inline-block;
  width:135px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right:80px;
}
.btn_top{
  background-position: -150px -213px;
  display: inline-block;
  width:50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right:25px;
}
.btn_top:hover{
  background-position: -204px -213px;
  display: inline-block;
  width:50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right:25px;
}